@use "@nationalarchives/frontend/nationalarchives/tools/spacing";

@use "@nationalarchives/frontend/nationalarchives/all";

.tna-card {
  &__body {
    word-break: break-word;
  }

  &:not(:has(&__image-container)) {
    .tna-hgroup__supertitle {
      margin-top: spacing.space(0.25);
      margin-left: spacing.space(2);

      float: right;
    }
  }
}
