@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";

@use "@nationalarchives/frontend/nationalarchives/all";

.tna-card {
  .tna-hgroup__supertitle {
    @include colour.orange-accent;
  }

  &__body {
    gap: spacing.space(0.5);

    small {
      @include colour.colour-font("font-light");
    }

    p {
      word-break: break-word;

      &:has(small) {
        line-height: 1.2;
        word-break: break-all;
      }
    }
  }

  &:not(:has(&__image-container)) {
    .tna-hgroup__supertitle {
      margin-top: spacing.space(0.25);
      margin-left: spacing.space(2);

      float: right;
    }
  }
}

mark {
  @include colour.accent;
}
