
{% macro discoverySearch(query) %}
{# Note: Do not consider query safe and do not output it with the safe filter #}
<div class="tna-aside tna-aside--tight tna-background-accent">
  <h2 class="tna-heading-m">Looking for particular records? Search our catalogue</h2>
  <p>Our catalogue, Discovery, holds more than 37 million descriptions of records held by The National Archives and archives across the country.</p>
  {% if query %}
  <p>
    <a href="https://discovery.nationalarchives.gov.uk/results/r?_q={{ query }}">Search for &quot;{{ query }}&quot; in Discovery</a>
  </p>
  {% else %}
  <p>
    <a href="https://discovery.nationalarchives.gov.uk/">Go to Discovery</a>
  </p>
  {% endif %}
  <h3 class="tna-heading-s">Try our new catalogue</h3>
  <p>We are working on making our online catalogue more accessible and inviting.</p>
  {% if query %}
  <p>
    {# djlint:off #}
    <a href="/catalogue/search/?q={{ query }}">Search for &quot;{{ query }}&quot; in the new catalogue search</a>
    {# djlint:on #}
  </p>
  {% else %}
  <p>
    {# djlint:off #}
    <a href="/catalogue/">Go to the new catalogue</a>
    {# djlint:on #}
  </p>
  {% endif %}
</div>
{% endmacro %}
