{%- from 'components/search-field/macro.html' import tnaSearchField -%}

{% macro discoverySearch(query) %}
{# Note: Do not consider query safe and do not output it with the safe filter #}
<form class="tna-aside tna-aside--tight tna-background-accent" method="get" action="https://discovery.nationalarchives.gov.uk/results/r" role="search">
  {#
  {{ tnaSearchField({
    'label': 'Looking for particular records? Search our catalogue',
    'headingLevel': 2,
    'headingSize': 'm',
    'hint': 'Our catalogue, Discovery, holds more than 37 million descriptions of records held by The National Archives and archives across the country.',
    'id': 'search-discovery',
    'name': '_q',
    'value': query,
    'formItemClasses': 'discovery-search'
  }) }}
  #}
  <h2 class="tna-heading-m">Looking for particular records? Search our catalogue</h2>
  <p>Our catalogue, Discovery, holds more than 37 million descriptions of records held by The National Archives and archives across the country.</p>
  {% if query %}
  <p>
    <a href="https://discovery.nationalarchives.gov.uk/results/r?_q={{ query }}">Search for &quot;{{ query }}&quot; in Discovery</a>
  </p>
  {% else %}
  <p>
    <a href="https://discovery.nationalarchives.gov.uk/">Go to Discovery</a>
  </p>
  {% endif %}
  <h3 class="tna-heading-s">Try the new search</h3>
  {% if query %}
  <p>
    <a href="/catalogue/search/?q={{ query }}">Search for &quot;{{ query }}&quot; in the new catalogue search</a>
  </p>
  {% else %}
  <p>
    <a href="/catalogue/">Go to the new catalogue</a>
  </p>
  {% endif %}
</form>
{% endmacro %}
