{% extends 'base.html' %}

{%- from 'components/breadcrumbs/macro.html' import tnaBreadcrumbs -%}
{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'components/compound-filters/macro.html' import tnaCompoundFilters -%}
{%- from 'components/pagination/macro.html' import tnaPagination -%}
{%- from 'components/search-field/macro.html' import tnaSearchField -%}
{%- from 'components/skip-link/macro.html' import tnaSkipLink -%}

{%- from 'sitemap_search/_discovery-search.html' import discoverySearch -%}

{%- set pageTitle = 'Search results for "' + (q.replace('"', '')) + '"' if q else 'Search the site' -%}

{% block skipLink %}
{% if q %}
{{ tnaSkipLink({
  'href': 'results',
  'text': 'Skip to list of results'
}) }}
{{ super() }}
{% endif %}
{% endblock %}

{% block beforeContent %}
<div class="tna-background-accent-light">
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      {{ tnaBreadcrumbs({
        'items': [
          {
            'text': 'Home',
            'href': '/'
          }
        ],
        'structuredData': True,
        'classes': 'tna-!--padding-vertical-s'
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="tna-background-accent-light tna-!--padding-top-s tna-!--padding-bottom-l">
  <div class="tna-container">
    <form class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny" method="get" action="{{ url_for('sitemap_search.index') }}" role="search">
      {{ tnaSearchField({
        'label': 'Search The National Archives website',
        'headingLevel': 1,
        'headingSize': 'l',
        'hint': 'Find articles and research guides',
        'id': 'search',
        'name': 'q',
        'value': q,
        'maxLength': 30,
      }) }}
    </form>
  </div>
</div>
{% if results %}
<section>
  <div class="tna-container">
    <div id="results" class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny tna-!--margin-top-s">
      <h2 class="tna-visually-hidden">Results</h2>
      <p class="tna-!--no-margin-top tna-!--padding-top-s">Showing <strong>{{ ((results_per_page * (page - 1)) + 1) | commafy }}&ndash;{{ (results_per_page * page if results_per_page * page < total_results else total_results) | commafy }}</strong> of <strong>{{ total_results | commafy }}</strong> results{% if query_parts %} for {% for part in query_parts -%}
      {{ '' if loop.first else ', ' if not loop.last else ' or' }} &quot;{{ part }}&quot;
      {%- endfor -%}
      {% endif -%}</p>
      <ul class="tna-container tna-container--nested tna-!--margin-top-m">
        {% for result in results %}
        <li class="tna-column tna-column--full tna-!--margin-bottom-l">
          {{ tnaCard({
            'supertitle': 'Archived' if (result.url | is_url_archived) else '',
            'headingLevel': 3,
            'headingSize': 'm',
            'title': result.title.replace(', Author at The National Archives blog', '').replace(' - The National Archives blog', '').replace(' - The National Archives Design System', '').replace(' - The National Archives', '') | mark(q) | safe,
            'href': result.url | use_archived_url,
            'body': ('<p>' + (result.description | mark(q)) + '</p>' if result.description and result.description != '...' else '') + '<p><small>' + (result.url | mark(q)) + '</small></p>',
            'fullAreaClick': True,
            'attributes': {
              'data-id': result.id,
              'data-relevance': result.relevance
            }
          }) }}
        </li>
        {% endfor %}
      </ul>
      {% if pages > 1 %}
      {{ tnaPagination(pagination) }}
      {% endif %}
    </div>
    <div class="tna-column tna-column--width-1-3 tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
      {{ discoverySearch(q) }}
    </div>
  </div>
</section>
{% elif q %}
<div class="tna-container tna-!--padding-top-l">
  <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
    <h2 class="tna-heading-xl" id="results">No results found</h2>
    <p>Try the following:</p>
    <ul class="tna-ul">
      <li>Check your spelling</li>
      <li>Try different keywords</li>
      <li>Broaden your search keywords</li>
    </ul>
    {{ discoverySearch(q) }}
  </div>
</div>
{% else %}
<div class="tna-container">
  <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny tna-!--margin-vertical-m">
    <p>{{ total_results | commafy }} pages indexed</p>
    {{ discoverySearch(q) }}
  </div>
</div>
{% endif %}
{% endblock %}
